
.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  border-radius: 59px;
  background-color: #F4F6F5;
  column-gap: 24px;
  padding-top: 68px;
  padding-left: 120px;
}

.promo__title {
  font-size: clamp(3.125rem, 2.55rem + 2.88vw, 6rem);
  line-height: calc(120 / 96);
  font-weight: 900;
  max-width: 480px;
}

.promo__title-highlight {
  position: relative;
  display: inline-block;
}

.promo__title-highlight span {
  position: relative;
  z-index: 1;
}
.highlight--yellow::before{
background-color: var(--yellow) !important;
right: -110px !important;
}

.promo__title-highlight::before {
  content: "";
  display: block;
  position: absolute;
  background-color: white;
  top: -12px;
  bottom: 0px;
  left: -40px;
  right: -160px;
  transform: rotate(-2deg);
}

.promo__desc {
  color: --textColor;
  font-size: 32px;
  font-weight: 400;
  line-height: calc(48 / 32);
  margin-top: 42px;
  margin-bottom: 32px;
  letter-spacing: -0.05em;
}

.promo__btn_wrapper {
  display: flex;
  align-items: center;
  column-gap: 34px;
}

.promo__btn_wrapper::before {
  content: "";
  display: inline-block;
  width: 190px;
  height: 32px;
  background-image: url('./../../img/icons/decor-yellow.svg');
}

.promo__btn {
  border-radius: 10px;
  text-decoration: none;
  padding: 19px 40px;
  letter-spacing: -0.05em;
  line-height: 1.5;
  font-weight: 500;
}
