
body{
  color: var(--textColor);
}

.header {
  padding: 46px 0 56px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 13px;

}

.header__logo>span {
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 60px;
  text-transform: uppercase;
}

.header__nav{
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}

.header__nav>ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 65px;
  align-items: center;
}

.header__nav>ul>li>a{
  color: var(--textColor);
  text-decoration: none;
}

.header__nav-sign, .btn{
  padding: 13px 22px;
  background-color: black;
  border-radius: 7px;
  color: white !important;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}